{%- set custom_component_descriptions = {"readme": "Generates this readme file."} -%}
# Dreszcz Home Assistant Config

[![Build Status](https://travis-ci.org/DRESZCZ/HomeAssistantConfig.svg?branch=master)](https://travis-ci.org/github/DRESZCZ/HomeAssistantConfig)





This is my live Home Assistant config. 
It runs on an [Beelink X45 Intel Celeron J4105 MINI PC 8G Ram 256G storage from AliExpress](https://aliexpress.com/item/4001208421525.html)
Proxmox is installed on bare metal,  then this (production) Home Assistant runs in a VM.
A separate VM provides my Dev. env

This repo is validated by Travis CI


***

## Some statistics about my installation:

Lines of yaml code in my configuration (excluding secrets): {{states.sensor.yaml_config_lines.state}}

Number of entities: {{states | count}}

Type | Qty
-- | --
Alarm Control Panel | {{states.alarm_control_panel | count}}
Alert | {{states.alert | count}}
Automation | {{states.automation | count}}
Binary Sensor | {{states.binary_sensor | count}}
Camera | {{ states.camera | count }}
Device Tracker | {{ states.device_tracker | count }}
Group | {{ states.group | count }}
Input Boolean | {{ states.input_boolean | count }}
Input Datetime | {{ states.input_datetime | count }}
Input Text | {{ states.input_text | count }}
Light | {{ states.light | count }}
Media Player | {{ states.media_player | count }}
Person | {{ states.person | count }}
Scene | {{ states.scene | count }}
Script | {{ states.script | count }}
Sensor | {{states.sensor | count}}
Sun | {{ states.sun | count }}
Switch | {{ states.switch | count }}
Weather | {{ states.weather | count }}
Zone | {{ states.zone | count }}

***

## HACS installed components

### Integrations
{%- for component in hacs_components | selectattr('category', 'equalto', 'integration') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}

### Lovelace
{%- for component in hacs_components | selectattr('category', 'equalto', 'plugin') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}

***


Generated by the [custom readme integration](https://github.com/custom-components/readme)

